$font: 'Gentium Book Basic',
serif;

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#header {
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    max-width: 1600px;

    .navbar {
        display: flex;
        color: #fff;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.79) 1%, rgba(0, 0, 0, 0.72) 9%, rgba(0, 0, 0, 0) 98%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.79) 1%, rgba(0, 0, 0, 0.72) 9%, rgba(0, 0, 0, 0) 98%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.79) 1%, rgba(0, 0, 0, 0.72) 9%, rgba(0, 0, 0, 0) 98%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#00000000', GradientType=0);
        /* IE6-9 */
    }
    .navbar_link_brand{
        padding: 20px 0px 0px 20px;
    }

    .navbar_items {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding-left: 0px;

        .icon {
            padding: 45px 20px 0px 20px;
            a {
                color: #dab33e !important;
            }
        }

        .navbar_link{
            padding: 45px 20px 0px 20px;
            a{
                text-decoration: none;
                color: #fff
            }
        }
        

        .navbar_link:hover {
            border-top: 2px solid #fff;
        }
    }

    .navbar_items_right {
        margin-left: auto;
    }

    .navbar_link_toggle {
        display: none;
    }

    .contain {
        text-align: center;

        p {
            margin: 0 auto;
            font-size: 80pt;
            color: #fff;
            font-weight: 300;
            width: 52%;
        }

        img {
            width: 100%;
        }

        .buttons {
            padding-bottom: 20px;

            .blackbtn {
                color: #fff;
                border: #000;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 20px 40px 20px 40px;
                outline: none;
                cursor: pointer;
            }
            .blackbtn:hover{
                background-color: #000;
            }

            .whitebtn {
                color: #000;
                border: 0px #fff solid;
                background-color: rgba(255, 255, 255, 0.5);
                padding: 20px 36px 20px 36px;
                outline: none;
                cursor: pointer;
            }
            .whitebtn:hover{
                background-color: #fff;
            }
        }
    }

}

#main {
    .about{
        padding-top: 20px;
        background-image: url(../img/backgroundtexture.jpg);
        background-size: cover;
        max-width: 1600px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        text-align: center;
        .content{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            h2{
                font-size: 45px;
                color: #dab33e;
            }
            img{
                max-width: 247px;
            }
            p{
                width: 70%;
                font-size: 20px;
            }
        }
        img{
            max-width: 100%;
        }
        .imageDish{
            width: 50%;
            align-items: center;
        }
    }
    .ingredients, .reviews{
        padding: 80px 0px 80px 0px;
        background-image: url(../img/background1.jpg);
        background-size: cover;
        background-position: center;
        max-width: 1600px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .boxIngredients, .boxReviews{
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.45+0,0.45+100 */
            background: -moz-linear-gradient(top, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.45) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.45) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.45) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73000000', endColorstr='#73000000',GradientType=0 ); /* IE6-9 */
            width: 560px;
            height: 560px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                padding-top: 30px;
                font-size: 30px;
                color: #fff;
            }
            p{
                width: 80%;
                text-align: center;
                color: #fff;
                line-height: 2;
                padding-bottom: 30px;
            }
        }
        .boxReviews p{
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    }
    .reviews{
        background-image: url(../img/background2.jpg);

    }
    .menu{
        padding: 80px 0px 80px 0px;
        background-image: url(../img/backgroundwhite2.jpg);
        background-size: cover;
        background-position: center;
        max-width: 1600px;
        margin: 0 auto;
        padding-bottom: 50px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        img{
            padding-bottom: 20px;
        }
        .appetisers, .starters, .salads, .mainDashes{
            text-align: center !important;
            padding: 0px 30px 0px 30px;
            h1{
                font-size: 36pt;
                color: #cc9900;
            }
        }
        .contentMenu {
            list-style-type: none;
            margin: 0 auto;
            padding-left: 0px;
            .contentList{
                position: relative;
                padding-bottom: 30px;
            }
            .greeksalad, .roastlamb{
                outline: 1px solid #cc9900;
                p{
                    margin: 0px;
                    padding: 10px;
                }
                .list{
                    padding: 10px;
                }
                .list:after{
                    position: absolute;
                    bottom: 0%;
                    width: 95%;
                    border-bottom: solid 1px #cc9900;
                }
            }
            .special:after{
                content:url('../img/restaurant_08.png');                
                position: absolute;
                width: 50px;    
                bottom: 0;
                right: 18px;
                height: 20px;
                background-color: #c89f2d;
            }
            ul{
                padding-left: 0px;
                list-style: none;
            }
            p{
                margin: 10px 0px 0px 0px;
                text-align: left;
                font-size: 16pt;
            }
          }
          
          .list {
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            color: #cc9900;
            padding-bottom: 10px;
            font-size: 20pt;
          }
          .list:after {
            content: '';
            position: absolute;
            bottom: 0%;
            width: 100%;
            border-bottom: solid 1px #cc9900;
          }
          }
          .reservation{
            background-image: url(../img/backgroundtexture.jpg);
            background-size: cover;
            max-width: 1600px;
            margin: 0 auto;
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            .images{
                padding: 60px 10px 60px 10px;
                img{
                    max-width: 100%;
                }
            }
            .content{
                padding: 60px 10px 60px 10px;
                p{
                    max-width: 700px;
                }
            }
          }
}
#footer{
    background-color: #191919;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #fff;
    text-align: center;
    .aboutUs{
            max-width: 300px;
    }
    .location{
        .icons{
            display: flex;
            list-style: none;
            text-align: center;
            padding-left: 0px;
            justify-content: space-evenly;
            li{
                i{
                    color: #fff;
                }
                i:hover{
                    color: #c89f2d;
                }
            }
        }
    }
}
@media (min-width: 1089px){

    .mainDashes{
        margin-top: -103px !important;
    }
}
@media (max-width: 992px) {
    #header {
        
        background-size: cover;

        .navbar_items,
        .navbar {
            flex-direction: column;
        }

        .navbar_items {
            display: none;
            .navbar_link{
                padding: 20px 20px 0px 20px;
                a{
                    text-decoration: none;
                    color: #fff
                }
            }
            
    
            .navbar_link:hover {
                border-top: 0px solid #fff;
            }
        }

        .navbar_items_right {
            flex-direction: row;
            margin-left: 0;
            margin: 0 auto;
        }

        .navbar_toggleShow {
            display: flex;
            align-items: center;
        }

        .navbar_link_toggle {
            align-self: flex-end;
            display: initial;
            position: absolute;
            cursor: pointer;
            top: 4%;
            right: 6%;
        }
        .contain {
            padding-top: 20px;
            p {
                font-size: 35pt;
            }
        }
    }
    #main{
        .about{
            flex-direction: column;
        }
        .menu{
            flex-direction: column;
        }
        .reservation{
            flex-direction: column
        }
    }
    #footer{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 768px) { 
    #header {
        .contain {
            p {
                font-size: 25pt !important;
            }
        }
    }
    #main{
        .about{
            .content{
                p{
                    width: 100%;
                }
            }
        }
    }
 }


@media (max-width: 576px) {
    #header {
        .contain {
            p {
                font-size: 30pt;
            }
        }
    }
}